<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>_02_servletlifecycle</display-name>

	<servlet>
		<servlet-name>ServletLifecycle</servlet-name>
		<servlet-class>_02_ServletLifecycle.ServletLifecycle</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>ServletLifecycle</servlet-name>
		<url-pattern>/_02_servletlifecycle</url-pattern>
	</servlet-mapping>

</web-app>