<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/24-spring-data-rest-cruddemo/src/main/java/com/oguzhanun/springboot/cruddemo/CruddemoApplication.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.oguzhanun.springboot.cruddemo.CruddemoApplication"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="24-spring-data-rest-cruddemo"/>
</launchConfiguration>
