<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/043-thymleaf/src/main/java/com/oguzhanun/springboot/thymleaf/ThymleafApplication.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<mapAttribute key="org.eclipse.debug.core.environmentVariables">
<mapEntry key="DB_PASSWORD" value="hbstudent"/>
<mapEntry key="DB_URL" value="jdbc:mysql://localhost:3306/Employee?useSSL=false&amp;serverTimezone=UTC"/>
<mapEntry key="DB_USERNAME" value="hbstudent"/>
</mapAttribute>
<booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_START_ON_FIRST_THREAD" value="true"/>
<stringAttribute key="org.eclipse.jdt.launching.CLASSPATH_PROVIDER" value="org.eclipse.m2e.launchconfig.classpathProvider"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.oguzhanun.springboot.thymleaf.ThymleafApplication"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="043-thymleaf"/>
<stringAttribute key="org.eclipse.jdt.launching.SOURCE_PATH_PROVIDER" value="org.eclipse.m2e.launchconfig.sourcepathProvider"/>
</launchConfiguration>
